In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression as LogReg
from sklearn.linear_model import LogisticRegression as LogReg
from sklearn.tree import DecisionTreeClassifier

In [2]:
train_data = pd.read_csv("C:\\Users\\Priyanka\\Desktop\\5th sem project and seminar\\project\\visulaization projects\\titanic\\dataset\\train.csv")
test_data = pd.read_csv("C:\\Users\\Priyanka\\Desktop\\5th sem project and seminar\\project\\visulaization projects\\titanic\\dataset\\test.csv")

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
print(train_data['Sex'].isnull().values.any())
print(train_data['Pclass'].isnull().values.any())
print(train_data['Age'].isnull().values.any())
print(train_data['SibSp'].isnull().values.any())
print(train_data['Parch'].isnull().values.any())
print(train_data['Fare'].isnull().values.any())
print(train_data['Cabin'].isnull().values.any())
print(train_data['Embarked'].isnull().values.any())

False
False
True
False
False
False
True
True

In [5]:
mean_age = int(train_data['Age'].mean())
train_data['Age'] = np.where(train_data['Age'].isna() == True, mean_age, train_data['Age'])

In [6]:
train_data['Embarked'].isna().sum()

2

In [7]:
train_data['Cabin'].isna().sum()

687

In [8]:
train_data['HasCabin'] = np.where(train_data['Cabin'].isna() == True, 0, 1)
train_data = train_data.drop(columns=['Cabin'])

In [9]:
train_data['Sex'] = np.where(train_data['Sex'] == 'male', 1, 0)

In [10]:
X_train = train_data[['Pclass','Sex','Age','Fare','HasCabin']].values
y = train_data['Survived'].values.reshape(-1)

In [11]:
test_data['Age'] = np.where(test_data['Age'].isna() == True, mean_age, test_data['Age'])
test_data['HasCabin'] = np.where(test_data['Cabin'].isna() == True, 0, 1)
test_data = test_data.drop(columns=['Cabin'])
test_data['Sex'] = np.where(test_data['Sex'] == 'male', 1, 0)
test_data['Fare'] = np.where(test_data['Fare'].isna() == True, test_data['Fare'].mean(), test_data['Fare'])

X_test = test_data[['Pclass','Sex','Age','Fare','HasCabin']].values

In [16]:
#Logestic Regression

model = LogReg().fit(X_train,y)
res = model.predict(X_test)

In [13]:
# Decission Tree

#model = DecisionTreeClassifier(max_depth = 3, random_state = 42)
#model.fit(X_train, y)
#res = model.predict(X_test)

In [17]:
res_set = np.concatenate( (test_data['PassengerId'].values.reshape(-1,1), res.reshape(-1,1)), axis=1)

In [18]:
pd.DataFrame(res_set).to_csv("./result.csv", header=["PassengerId", "Survived"], index=False)